.search-button {
    border-right-color: #ced4da;
    border-top-color: #ced4da;
    border-bottom-color: #ced4da;
    border-left-color: #ced4da;
    background-color: #e9ecef;
    color: #212529;
}

.search-button.dropdown {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

/* .fullScreenPic {
    max-width: 95vw;
    /* max-height: 95vh;
} */
